.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .ipt{
        margin: 0 20px;
    }

    .ant-input {
        width: 20%;
    }
}
.add{
    margin: 15px 0;
}