.group {
    >p {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .search {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        .ant-input {
            width: 30%;
        }

        .but {
            width: 20%;
            display: flex;
            justify-content: space-around;
        }
    }
}
